<div class="page">
  <div class="content">
    <div class="rocket-logo-area">
      <img src="../assets/rocket.png" alt="rocket-logo" class="rocket-logo">
    </div>
    <div class="mid-content">
      <div class="mid-content-left">
        <h2 class="mid-header">Get your seat to Mars!</h2>
        <p class="mid-paragraph">
          Earth is doomed, but don't worry! The last
          rocket is leaving for mars soon, so hurry
          up and book your flight!
        </p>
      </div>
      <div class="mid-content-right">
        <img src="../assets/hero.png" alt="hero-logo" class="hero-logo">
      </div>
    </div>

    <div class="clocks-all">
      <div class="clock-area">
        <div class="clock-header">
          Countdown to lift off
        </div>
        <div class="clock-time">
          <div class="clock-minutes">{{minutes[0]}}</div>
          <div class="clock-divider">:</div>
          <div class="clock-seconds">{{seconds[0]}}</div>
        </div>
        <button class="clock-button" (click)="resetTimer(0)">
          Reset timer
        </button>
      </div>
      <div class="clock-area">
        <div class="clock-header">
          Countdown to lift off
        </div>
        <div class="clock-time">
          <div class="clock-minutes">{{minutes[1]}}</div>
          <div class="clock-divider">:</div>
          <div class="clock-seconds">{{seconds[1]}}</div>
        </div>
        <button class="clock-button" (click)="resetTimer(1)">
          Reset timer
        </button>
      </div>
      <div class="clock-area">
        <div class="clock-header">
          Countdown to lift off
        </div>
        <div class="clock-time">
          <div class="clock-minutes">{{minutes[2]}}</div>
          <div class="clock-divider">:</div>
          <div class="clock-seconds">{{seconds[2]}}</div>
        </div>
        <button class="clock-button" (click)="resetTimer(2)">
          Reset timer
        </button>
      </div>
    </div>


  </div>
</div>
